body {
font-family:Arial;
}
input {
font-family:Arial;
font-size:14px;
}
label{
font-family:Arial;
font-size:14px;
color:#999999;
}
.tblSaveForm {
border-top:2px #999999 solid;
background-color: #f8f8f8;
}
.tableheader {
background-color: #CBD3DD;
}
.tablerow {
background-color: #4C5D77;
color:white;
}
.btnSubmit {
background-color:#CBD3DD;
padding:5px;
border-color:#999999;
border-radius:4px;
color:white;
}
.message {
color: #999999;
text-align: center;
width: 100%;
}
.txtField {
padding: 5px;
border:#fedc4d 1px solid;
border-radius:4px;
}
.evenRow {
background-color: #E2EDF9;
font-size:12px;
color:#101010;
}
.evenRow:hover {
background-color: #CBD3DD;
}
.oddRow {
background-color: darkgray;
font-size:12px;
color:#101010;
}
.oddRow:hover {
background-color: #CBD3DD;
}
.tblListForm {
border-top:2px #999999 solid;
}
.listheader {
background-color: #CBD3DD;
font-size:12px;
font-weight:bold;
}
.link{
text-decoration:none;
color:#5e8fc7;
font-size:11px;
}